.navbar {
  background-color: rgb(25, 26, 28);
  margin: 0;
  padding: 0 25px;
  height: 94px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.left-side {
  display: flex;
  height: 100%;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 50vw;
  height: 100%;
  align-items: center;
  display: flex;
}

li {
  float: left;
  padding: 0 2vw;
}

li a {
  text-decoration: none;
  display: block;
  color: white;
  font-size: 18px;
}

.logo {
  margin-left: 10px;
  height: 44px;
}

.mini-logo {
  display: none;
}

.avatar {
  margin-right: 30px;
  height: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #191a1c;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  width: 136px;
}
.dropdown-content span {
  display: block;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.dropdown-content span:hover {
  color: blue;
}
